<html>
    <head>
        <meta charset="utf-8"> 
        <title>KEKOMOOOON</title>
    </head>

    <body>

        <% for(var i=0; i<response.products.length; i++) {%>
            <tr>
              <td>
                <%= JSON.stringify(response.products[i])-%>
                <br>
                <img src="uploads/deneme.png" width="160px", height="160px">
                
              </td>
            </tr>
            <br>
         <% } %>
    
      


    </body>
</html>